.contenedorBody{
    background-image: url('/assets/imagenes/fondoLog.jpg'); 
  
  }
  
  
  .contenedorRaiz {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
     
    }
    
    .nav-item,
  .navbar-brand, .botInicio {
    font-weight: bolder;
  }
    .login-container {
      width: 300px;
      padding: 20px;
      border: 1px solid #0e0d0d;
      border-radius: 5px;
      background-color: #d4d5a7;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .login-container h2 {
      text-align: center;
    } 
    
    
    .olvidadoContraseña{
        display: flex; 
        justify-content: center;;
    }
  
  /*  */
  
  .w {
    width: 90px;
    padding-right: 5px;
  }
  
  
  .navbar-brand{
    border: 0;
  background-color: transparent;
  }
  
  
  .fondoFilmNow{
   
      font-weight: bolder;
      height: 73px;
      font-size: 21px;
      padding-left: 12px;
      color: rgb(251, 158, 27);
      
    } 
  .registro{
   
    border-radius: 5px;
    
    margin-top: 30px;
    margin-left: 90px;
  
  }
  
  .btn-primary{

    background-color: rgb(55, 142, 119)!important;
  } 