<div class="contenedorBody">
  <nav class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
      <div class="fondoFilmNow">
        <img class="w" src="/assets/imagenes/w.png" alt="" />

        <button class="navbar-brand" (click)="redirigir_Principal()">
          FilmNow
        </button>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a class="nav-link active" href="#">Películas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Series</a>
          </li>
        </ul>
        <button class="botIngreso" type="button" (click)="redirectToLogin()">
          Ingreso
        </button>
      </div>
    </div>
  </nav>

  <div class="peliculaMes">
    <span class="mes">
      <h3>Película del mes</h3>
      <h4>Sinopsis</h4>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo adipisci
        quae necessitatibus commodi distinctio! Cum mollitia laudantium,
        pariatur sint assumenda numquam laborum molestiae praesentium ad sit
        consequatur maxime architecto repellat!
      </p>

      <h4>Reparto</h4>

      <ul class="reparto">
        <li>aaaa</li>
        <li>aaata</li>
        <li>aaaa</li>
        <li>aaaa</li>
        <li>aaaa</li>
        <li>aaaa</li>
      </ul>
    </span>

    <span class="spanAvengers">
    
      <img class="avengers"  [src]="imageSource" (click)="trailer()" alt="" />
  
      <iframe class="trailerVideo" height="315" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
    </span>

    

    <div class="alquilar">
      <button class="botonAlquilar" type="button"(click)="redirectToLogin()">Alquilar</button> <br>
      <div class="calificacion">Calificación:   <img  class="estrellas"   src="/assets/imagenes/estrellas.PNG" alt=""></div> 
    </div>

    
  </div>


  <!--  -->
  <div class="carrusel">

  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-inner">
      <h4 class="peliPopulares">Peliculas Populares</h4>
      <div class="carousel-item active">
        <img src="/assets/imagenes/how.jpg" class="d-block w-100" alt="..." />
      </div>

      <div class="carousel-item">
        <img src="/assets/imagenes/dune.jpg" class="d-block w-100" alt="..." />
      </div>

      <div class="carousel-item">
        <img
          src="/assets/imagenes/stranger.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>



    <footer class="bg-dark text-light py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>Contacto</h5>
            <ul class="list-unstyled">
              <li>Teléfono: 123-456-789</li>
              <li>Correo electrónico: inf</li>
              <li>Dirección: Calle Principal, Ciudad</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Enlaces útiles</h5>
            <ul class="list-unstyled">
              <li><a href="#">Preguntas frecuentes</a></li>
              <li><a href="#">Política de privacidad</a></li>
              <li><a href="#">Términos y condiciones</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Nuestras sedes</h5>
            <ul class="list-unstyled">
              <li>Ciudad 1</li>
              <li>Ciudad 2</li>
              <li>Ciudad 3</li>
            </ul>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <p class="text-center">
              © 2024 Películas FilmNow Jesus I. Sánchez D. Todos los derechos
              reservados.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!--
  <div class="carrusel">
     <img src="/assets/imagenes/breaking_bad.jpeg" alt="">
    <img src="/assets/imagenes/brooklin.jpg" alt="">
    <img src="/assets/imagenes/cosmos.jpg" alt="">
    <img src="/assets/imagenes/dune.jpg" alt="">
    <img src="/assets/imagenes/espacio.jpeg" alt="">
    <img src="/assets/imagenes/how.jpg" alt="">
    <img src="/assets/imagenes/lord.jpg" alt="">
    <img src="/assets/imagenes/snyder.jpg" alt="">
    <img src="/assets/imagenes/stranger.jpg" alt="">
    <img src="/assets/imagenes/dune.jpg" alt="">
    <img src="/assets/imagenes/espacio.jpeg" alt="">
    <img src="/assets/imagenes/how.jpg" alt="">
    <img src="/assets/imagenes/lord.jpg" alt="">

  </div>  -->
</div>
