
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> 
    <title>Iniciar Sesión</title>

    <div class="contenedorRaiz">
    <div class="login-container">
        <h2 class="mb-4">Iniciar Sesiónn</h2>
        <form>
          <div class="form-group">
            <label for="username">Usuario:</label>
            <input type="email" class="form-control" id="username" placeholder="Ingrese su usuario" required>
          </div>
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
        </form>
      
        <br>
      
       <a href=""><span class="olvidadoContraseña">¿Has olvidado tu contraseña?</span></a>
 
      </div>  

    </div>