<div class="fondoUsuario">
  <div class="contenedorBody">
    <nav class="navbar navbar-expand-lg bg-body-secondary">
      <div class="container-fluid">
        <div class="fondoFilmNow">
          <img class="w" src="/assets/imagenes/w.png" alt="" />

          <button class="navbar-brand" (click)="redirigir_Principal()">
            FilmNow
          </button>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">Películas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Series</a>
            </li>
          </ul>
          <!-- <button class="botIngreso" type="button" (click)="redirectToLogin()">
            Ingreso
          </button> -->
        </div>
      </div>
    </nav>
  </div>
  <div class="perfil">
    <p class="peliculasAlquiladas">TU PERFIL</p>

    <p class="peliculasAlquiladas">Ver Peliculas o Series Alquiladas</p>
  </div>
  
</div>
<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Contacto</h5>
        <ul class="list-unstyled">
          <li>Teléfono: 123-456-789</li>
          <li>Correo electrónico: inf</li>
          <li>Dirección: Calle Principal, Ciudad</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Enlaces útiles</h5>
        <ul class="list-unstyled">
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Nuestras sedes</h5>
        <ul class="list-unstyled">
          <li>Ciudad 1</li>
          <li>Ciudad 2</li>
          <li>Ciudad 3</li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <p class="text-center">
          © 2024 Películas FilmNow Jesus I. Sánchez D. Todos los derechos
          reservados.
        </p>
      </div>
    </div>
  </div>
</footer>